.full-container
{
    display: flex;
    flex-direction: row;
    height: 90vh;
    width: 90vw;
    font-family: "Comic Sans MS", Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to bottom, #f4f4f8, #eaecef);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    /*min-width: 500px;*/
}

/* Lista de Usuarios */

.users-container.visible
{
    width: 25%;
    background: #ffffff;
    border-right: 1px solid #ddd;
    flex-direction: column;
    align-items: stretch;
    padding: 1rem;
    overflow-y: auto;
    min-width: 180px;
    max-width: 250px;
    display: flex;
    animation: fadeIn 0.2s ease-in-out;
}

.users-container.invisible
{
    display: none;
}

/* Chat */
.chat-container
{
    flex: 100%;
    background: linear-gradient(to bottom, #f4f4f8, #eaecef);
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    /*min-width: 500px;*/
}

@keyframes fadeIn
{
    from
    {
        opacity: 0;
        transform: translateY(5px);
    }
    to
    {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOut
{
    from
    {
        opacity: 1;
        transform: translateY(0);
    }
    to
    {
        opacity: 0;
        transform: translateY(5px);
    }
}