h2
{
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: #1d4ed8;
}

li
{
    padding: 0.75rem;
    margin-bottom: 0.5rem;
    border-radius: 6px;
    background-color: #354759;
    cursor: pointer;
    transition: background 0.2s;
}

li:hover
{
    background-color: #e2e8f0;
}